/* Resetting some default styles for better consistency */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Your Preferred Font', sans-serif;
  color: #333;
  transition: background-color 0.5s; /* Smooth background color transition */
}

/* Header Styles */
header {
  background-color: #410d08;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}


/* Add this to your existing CSS */

/* Add this to your existing CSS */

/* Add this to your existing CSS */

/* Add this to your existing CSS */

h1 {
  font-family: 'Comic Sans MS', cursive;
  font-size: 36px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  animation: colorChangeAnimation 4s infinite;
}

@keyframes colorChangeAnimation {
  0% {
    color: #4CAF50;
  }
  25% {
    color: #ff00ff;
  }
  50% {
    color: #00ffff;
  }
  75% {
    color: #ffff00;
  }
  100% {
    color: #4CAF50;
  }
}





h1:hover {
  color: #43cea2; /* Teal color on hover */
}

/* Navigation Styles */
nav {
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

/* Main Content Styles */
.main-content {
  padding: 20px;
}

/* Footer Styles */
footer {
  background-color: #ff6f61;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

/* Links Styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Other Elements Styles */
h2 {
  font-family: 'Your Preferred Font', sans-serif;
  font-size: 24px;
  color: #43cea2;
  margin-bottom: 10px;
  transition: color 0.3s;
}

h2:hover {
  color: #ff6f61; /* Coral color on hover */
}

.clothing-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clothing {
  color: #e97f1d;
  font-size: 18px;
}

.remove-button {
  background-color: #43cea2;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background: linear-gradient(to right, #185a9d, #43cea2);
}

.success,
.error {
  background: #f2f2f2;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: #d9534f;
}

.success {
  color: #5cb85c;
}

p {
  color: #b85c9c;
  transition: color 0.3s;
}

p:hover {
  color: #ff6f61; /* Coral color on hover */
}
